USE [master]
GO
/****** Object:  Database [tkb]    Script Date: 4/13/2025 5:28:16 PM ******/
CREATE DATABASE [tkb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tkb', FILENAME = N'D:\spl\tkb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tkb_log', FILENAME = N'D:\spl\tkb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tkb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tkb]
GO
/****** Object:  Table [dbo].[giangvien]    Script Date: 4/13/2025 5:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giangvien](
	[magv] [varchar](10) NOT NULL,
	[hotengv] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lophoc]    Script Date: 4/13/2025 5:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lophoc](
	[malop] [nvarchar](50) NOT NULL,
	[tenlop] [nvarchar](100) NULL,
	[mamh] [nvarchar](100) NULL,
	[magv] [varchar](10) NULL,
	[tgbatdau] [time](7) NULL,
	[tgketthuc] [time](7) NULL,
	[phonghoc] [nvarchar](50) NULL,
 CONSTRAINT [PK__lophoc__15F456FD49D30558] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 4/13/2025 5:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamh] [nvarchar](100) NOT NULL,
	[tenmonhoc] [nvarchar](100) NULL,
 CONSTRAINT [PK__monhoc__7A21CB8EFE0E2A94] PRIMARY KEY CLUSTERED 
(
	[mamh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tkb]    Script Date: 4/13/2025 5:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkb](
	[matkb] [nvarchar](50) NULL,
	[malop] [nvarchar](50) NULL,
	[ngayhoc] [date] NULL,
	[giobatdau] [time](7) NULL,
	[gioketthuc] [time](7) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[lophoc]  WITH CHECK ADD  CONSTRAINT [FK__lophoc__magv] FOREIGN KEY([magv])
REFERENCES [dbo].[giangvien] ([magv])
GO
ALTER TABLE [dbo].[lophoc] CHECK CONSTRAINT [FK__lophoc__magv]
GO
ALTER TABLE [dbo].[lophoc]  WITH CHECK ADD  CONSTRAINT [FK__lophoc__mamh] FOREIGN KEY([mamh])
REFERENCES [dbo].[monhoc] ([mamh])
GO
ALTER TABLE [dbo].[lophoc] CHECK CONSTRAINT [FK__lophoc__mamh]
GO
ALTER TABLE [dbo].[tkb]  WITH CHECK ADD  CONSTRAINT [FK__tkb__malop__75A278F5] FOREIGN KEY([malop])
REFERENCES [dbo].[lophoc] ([malop])
GO
ALTER TABLE [dbo].[tkb] CHECK CONSTRAINT [FK__tkb__malop__75A278F5]
GO
USE [master]
GO
